
body{
background-color:rgba(202, 47, 202, 0.603);
}


 h1{
color: rgba(241, 19, 19, 0.76);
font-family: cursive;
background: rgba(0, 128, 0, 0.685);
}


p{
color:rgb(204, 20, 20)
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
background: ;
}
